@media(max-width:1200px){
  #contact-submit-btn{
    position: absolute;
    bottom: 4rem;
    right: -4rem;
  }
}

@media(max-width:1145px){
    #homediv-content h1 {
        font-size: 2rem;
        margin: 1rem 0rem 1rem 0rem;
        text-align: center;
        
    }
   
}

@media(max-width:1000px){
    #skill-content-innerbox ul li{
        font-size: 2.2rem;
        padding: 1.3rem;
    }
    #skill-content-innerbox ul {
       
        grid-template-columns: 1fr 1fr 1fr;
      }
}
@media(max-width:930px){
  #contact-submit-btn{
    position: absolute;
    bottom: 4rem;
    right: -8rem;
  }
}
@media(max-width:840px){
  #homediv{
    height:45vh;
    clip-path: polygon(0 0,0 100%,100% 100%,100% 0);
  }

    #home-button{
        position: absolute;
        bottom: -10%;
        right: 10%;
        font-size: 0.7rem;
        padding: 0.8rem;
    }
    #homediv-content{
    
        position: absolute;
        top: 15%;
        left: 20%;}
    #about-main-left div{
        font-size: 3rem;
        margin-top: 12rem;
    }
    @keyframes buttonfall {
        0% {
          top: 0;
          rotate: 180deg;
        }
        100% {
          top: 9.5rem;
        }
      }
      .para{
        font-size: 1rem;
      }
      #skill {
       width: 100vw;
        background-color: rgb(0, 0, 0);
        -webkit-clip-path: polygon(0 0,  100% 0, 100% 100%,  0 100%);
                clip-path: polygon(0 0,  100% 0, 100% 100%, 0 100%);
      }
    #skill-content-innerbox ul li{
        font-size: 2rem;
        padding: 1.2rem;
        text-shadow: 1px 1px 1px rgb(14, 14, 14);
    }
    #skill-content-innerbox ul {
       
        grid-template-columns: 1fr 1fr;
      }
      #skill-content-innerbox-back ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      #skill-content-innerbox-back ul li{
        font-size: 2rem;
        padding: 1.2rem;
        text-shadow: 1px 1px 1px rgb(14, 14, 14);

      }
      #flipbtn{
        /* margin: 4rem 2rem 1rem 3rem; */
        font-size: 1rem;
      }
     
      #projects{
        font-size: 2.3rem;
        text-shadow: 1px 1px 1px black;
      }

      .project-box{
    
        width: 90vw;
      }
      .project-desc{
        font-size: 0.9rem;
      }
     
      #contact-div{
        
          padding-top: 4rem;
      
      }
      #contact-left{
        padding: 3rem 0 0 2rem;
      }
      #connect-icons{
        font-size: 2.5rem;
      }
      .contact-input{
        width: 15rem;
      }
      .contact-input-msg{
        width: 15rem;
      }
      #contact-right p{
        font-size: 2.2rem;
      }
}
@media(max-width:700px){

  .project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
  }
  .project-image img {
    width: 100%;
    height: auto;
    aspect-ratio: 1.5;
    border-radius: 1rem;
    box-shadow: 1px 1px 7px 0px black;
  }
  .project-desc {
    margin-left: 2rem;
    font-size: 0.8;
  }
}

@media(max-width:580px){
  #homediv {
    width: 100vw;
    height: 40vh;
    position: relative;
    background-color: black;
    -webkit-clip-path: polygon(0 0, 0 100%,  100% 100%, 100% 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
    #homediv-content{
        position: absolute;
        top: 10%;
        left: 0%;
    }
    #homediv-contentdiv{
        width: 75vw;
    }
    #homediv-content p{
        font-size: 1.3rem;
    }
    .navlist{
        font-size: 1.2rem;
        margin-left: 0;
        margin-right: 2rem;
    }
    #about {
  width: 100vw;
  height: 50vw;
  color: black;
  display: flex;
}

    #about-main-left div{
        font-size: 2.5rem;
        margin-top: 10rem;
    }
    @keyframes buttonfall {
        0% {
          top: 0;
          rotate: 180deg;
        }
        100% {
          top: 7.5rem;
        }
      }
      #about-right-inner {
      
        -webkit-clip-path: circle(200% at 80% 0);
        clip-path: circle(200% at 80% 0);
        box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.493);
        transition: 100ms;
        padding: 1rem 1rem 1rem 1rem;

      }
      #about-right-inner:hover {
        box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.493);
      }


       
       
      .para{
        margin: 0;
        font-size: 0.9rem;
      }
      /* #skill-box-wrap{
        overflow-y: scroll;
      } */
      #skill-content{
        padding-left: 4rem;
      }
      #skill-content-innerbox ul li{
        font-size: 2rem;
        padding: 1rem;
    }
    #skill-content-innerbox ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      #skill-content-innerbox-back ul {
        display: grid;
        grid-template-columns: 1fr 1fr ;
      }
      #skill-content-innerbox-back ul li{
        font-size: 2rem;
        padding: 1rem;
      }
      /* #flipbtn{
        margin: 3rem 2rem 1rem 1rem;
        font-size: 1rem;
      } */
    
      #skill {
        width: 100vw;
        /* height: 100vh; */
        background-color: rgb(0, 0, 0);
        
      }

    
      #skill-text{
        font-size: 3em;
      }
      .project-box {
        width: 100vw;
        display: block;
        padding: 1rem;
        margin: 0rem;
        margin-bottom: 5rem;
      }
      .project-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        margin: 0;
      }
      .project-image img {
        margin-left: 15% ;
        width: 70%;
        height: auto;
        aspect-ratio: 2;
      }
      .project-desc {
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
      }
      
      #contact{
        font-size: 3rem;
      }
      #contact-inner-box{
        display: block;
        width: 100vw;
        height: auto;
      }
      #contact-left{
        width: 100vw;
        padding-top: 1rem;
      }
      #contact-right{
        width: 100vw;
      }
      #contact-left form{
        margin-bottom: 2rem;
      }
      #contact-left form p {
        display: none;
      }
      .contact-input{
        width: 50vw;
      }
      .contact-input::placeholder{
        opacity: 0.8;
        color: white;
      }
      #contact-submit-btn{
        position: absolute;
        bottom:4rem;
        right:4rem;
        font-size: 0.8rem;
      }
      .contact-input-msg{
        width: 60%;
      }
      .contact-input-msg::placeholder{
        opacity: 0.8;
        color: white;
      }
      #connect-icons a{
        margin: 0 2rem 0 2rem;
      }
}

@media(max-width:450px){
    #skill-content{
        padding-left: 3rem;
      }
       #homediv {
    /* width: 100vw; */
    height: 55vh;
    position: relative;
    /* background-color: black; */
    -webkit-clip-path: polygon(0 0, 0 100%,  100% 100%, 100% 0);
            clip-path: polygon(0 0, 0 100%,  100% 100%, 100% 0);
  }
   #homediv-content {
    position: absolute;
    top:25%;
    left: 0%;
    width: 100vw;
    border-radius: 1rem;
    /* padding: 0; */
    padding-top: 5rem;
  }
   #homediv-content h1{
    font-size: 1.8rem;
    /* border: 2px solid red; */
   }
  #homediv-imgtag{
    position: absolute;
    top: 0rem;
    right: 25vw;
    /* border: 2px solid red; */
    margin-top: 2rem;
}

#about-main-left {
  width: 45%;
  height: 100%;
  text-align: center;
  position: relative;
}
#about-main-left div{
  font-size: 2rem;
}
@keyframes buttonfall {
  0% {
    top: 0;
    rotate: 180deg;
  }
  100% {
    top: 8rem;
  }
}
#about-button{
  padding: 0.4rem;
}
#about-right-inner {
  width: 95%;
  height: 85%;
  margin-right: 1rem;
}
#about {
  width: 100vw;
  height: 47vh;
  
}
#skill {
  width: 100vw;
  background-color: rgb(0, 0, 0);
 
}

#skill-text {
  display: block;
  /* margin-left: 5rem; */
  /* border: 2px solid red; */
  font-size: 2.3rem;
}
#skill-content-innerbox ul li {
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgb(14, 14, 14);
}
#skill-content-innerbox-back ul li {
  font-size:1.5rem ;
  text-shadow: 1px 1px 1px rgb(14, 14, 14);
}
/* #flipbtn {
  margin: 3rem 0rem 0rem 0rem;
} */

      #projects{
        font-size: 2rem;
        text-shadow: 1px 1px 1px black;
      }

#contact-div {
  padding-top: 4rem;
}
#connect-icons {
  margin-top: 1rem;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
#connect-icons a {
  display: inline-block;
  margin: 0.8rem;
}
#contact-submit-btn {
   position: absolute;
  bottom: 2rem;
  right: 3rem;
  font-size: 0.8rem;
}
     
}
@media(max-width:380px){
  .navlist {
    margin: 1rem 0rem 0.5rem 1rem;
  }
  #skill-content{
    padding-left: 2.5rem;
  }
  #homediv {
    width: 100vw;
    height: 45vh;
    position: relative;
    background-color: black;
    -webkit-clip-path: polygon(0 0, 0 100%,  100% 100%, 100% 0);
            clip-path: polygon(0 0, 0 100%,  100% 100%, 100% 0);
  }
  #homediv-content h1{
    font-size: 1.4rem;
  }
  #homediv-content {
    position: absolute;
    top:25%;
    left: 0%;
    border-radius: 1rem;
    padding: 3rem;
  }
  #homediv-imgtag{
    position: absolute;
    top: 0rem;
    right: 25vw;
    /* border: 2px solid red; */
    margin-top: 2rem;
}
.para {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  margin: 0rem;
  font-size: 1rem;
}
#about-right-inner {
  width: 95%;
  height: 86%;
  margin-right: 1rem;
}
#about {
  width: 100vw;
  height: 40vh;
  
}
#about-main-left {
  width: 45%;
  height: 100%;
  text-align: center;
  position: relative;
}
#about-main-left div{
  font-size: 1.5rem;
}
@keyframes buttonfall {
  0% {
    top: 0;
    rotate: 180deg;
  }
  100% {
    top: 8rem;
  }
}

#skill-text {
  display: block;
  margin-left: 5rem;
  /* border: 2px solid red; */
  font-size: 2.3rem;
}

#skill-content-innerbox ul li {
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgb(14, 14, 14);
}
#skill-content-innerbox-back ul li {
  font-size:1.5rem ;
  text-shadow: 1px 1px 1px rgb(14, 14, 14);
}

#projects{
  font-size: 2rem;
  text-shadow: 1px 1px 1px black;
}


#contact-div {
  padding-top: 2rem;
  
}
.contact-input::placeholder{
  font-size: 0.9rem;
}
.contact-input-msg::placeholder{
  font-size: 0.9rem;
}

}

@media (max-width:350px){
  #skill{
    padding-left: 1rem;
  }
  #contact-submit-btn {
    position: absolute;
   bottom: 2rem;
   right: 1rem;
   font-size: 0.8rem;
 }
}
@media (max-width:325px){
  #skill{
    padding-left: 0rem;
  }
}