
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Josefin+Sans&family=Poppins:ital,wght@1,200&family=Rajdhani&family=Roboto+Condensed:wght@300&family=Teko:wght@500&display=swap');

$bgcolor:#091B2A;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: black;
    color: white;
}
nav{
    width: 100vw;
    display: flex;
    justify-content: end;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
    // border: 2px solid red;

}
.navlist{
    margin: 1rem 3rem 0.5rem 1rem;
    list-style: none;
    padding: 0.5rem ;
    cursor: pointer;
    // border: 2px solid red;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.8;
    & a{
        text-decoration: none;
        &:hover{
            color: rgb(133, 163, 255);
        }
    }

    &::after{
        display: block;
        content: "";
        border-bottom: 1.5px solid rgb(247, 212, 55);
         transform: scaleX(0);
        transition:  300ms;
    }
    &:hover{
        font-weight:700;
        opacity:1; 
        

        &:after{
            font-weight:700;
            opacity:1;
           
           transform: scaleX(1);
        }
    }
     
}

// ################## nav completed #####################
#homediv{
    width: 100vw;
    height: 80vh;
    // height: auto;
    // border: 2px solid rgb(44, 233, 10);
    position: relative;
    background-color: black;
    clip-path: polygon(0 0,0 100%,70% 95%,100% 100%,100% 0);
    
}
#homediv-imgtag{
    position: absolute;
    top: 2rem;
    right: 0;
    margin: 3rem;
    // border-radius: 20%;
    // border: 2px solid red;
   

    width: 24vw;
    height: auto;
    aspect-ratio: 0.85;
    background: url("/src/assets/final.png"),#ffffff;
    background-size: 70% 90%;
    background-repeat:no-repeat;
    opacity: 1;
    object-fit: cover;

    background-position: 0px 20px;
    
    clip-path: circle(40% at 45% 40%);
    // filter:drop-shadow(2px 2px 2px  rgb(0, 0, 0)) 
    
}

// #############################  Right

#homediv-contentdiv{
    width: 70vw;
    height: 80%;
    // height: auto;
    // height: fit-content;
    // border: 2px solid red;
    position: relative;
  }
 
  
 #homediv-content{
       
      position: absolute;
      top: 20%;
      left: 20%;
      border-radius: 1rem;
      padding: 3rem;

      & h3{
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
        margin: 0 0 1.5rem 0;
        font-weight: 400;
        opacity: 0.7;
        font-size: 1.2rem;
      }
     
    & h1{
        color: rgb(24, 225, 252);
        margin: 1rem 1rem 1rem 1rem;
        font-family: 'Josefin Sans', sans-serif;
    //   letter-spacing: 1px;
      text-align: center; 
      font-size: 2.5rem; 
    //   text-shadow: 1px 1px 0px rgba(246, 246, 249, 0.569);
    }
    & p{
        
       
        font-size: 1.5rem;
        text-align: center;
        // margin: 1rem;
        font-family: 'Rajdhani', sans-serif;
        & span{
            padding: 0 5px 0 5px;
            background-color: rgb(98, 71, 251);
            color: rgb(237, 238, 245);
            // background-color: skyblue;
            // color: blue;
            font-weight: 600;
        }
    }
   
    }
    #home-button{

        cursor: pointer;
        padding: 1rem;
        background: none;
        border: none;
        position: absolute;
        bottom: -15%;
        right: 10%;
        text-align: center;
        border: 1px solid rgb(9, 238, 9);
        // box-shadow: 2px 2px 10px 1px  rgb(9, 238, 9);
        border-radius: 0.4rem;
        color: rgb(9, 238, 9);
        opacity: 1;
        

        &:hover{
            opacity: 0.8;
        }
    }
  

